
{% extends 'base.html' %}

{%load static%}
{% load cart %}
{%block content%}
<div class="container">
    <div class="border rounded border-success p-10 m-10">
        <p class="display-4 text-center p-6">YOUR ORDERS</p>
        <hr>
        <table>
            <table class="table">
                <thead>
                    <tr>
                        <th>Serial No.</th>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for p in orders%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><img src="{{p.product.image.url}}" style = "height:70px; width:70px;" class="rounded-circle text-center"></td>
                        <td>{{p.product.name}}</td>
                        <td>{{p.date}}</td>
                        <td>₹{{p.price}}</td>
                        <td>{{p.q}}</td>
                        {% if p.status %}
                        <td><small class="btn btn-success">COMPLETED</small></td>
                        {% else %}
                        <td><small class="btn btn-danger">INCOMPLETE</small></td>
                        {% endif %}
                    </tr>
                    
                    {% endfor %}
                </tbody>

            </table>
        </table>
        

        </div>
    </div>
</div>







{% endblock %}


